html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.flex__child {
  width: 40%;
  height: 40%;
}

h1 {
  margin-left: 40%;
  margin-right: 40%;
}

.skeleton {
  margin-bottom: 10px;
}
